@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Oswald:wght@400;700;900&family=Titillium+Web:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    --about-us: rgb(255, 255, 255);
    --about-us-text: rgb(153, 153, 153);
    --background-about-us: rgb(0, 0, 0);
    --background-btn: rgb(0, 0, 0);
    --background-btn-opacity: rgba(0, 0, 0, 0.3);
    --background-color: rgb(255, 255, 255);
    --background-common-nav: rgb(224, 229, 235);
    --background-main-nav: rgb(255, 255, 255);
    --benefits: rgb(255, 255, 255);
    --benefits-btn: rgb(255, 255, 255);
    --benefits-btn-hover: rgb(230, 230, 230);
    --benefits-hover: rgb(165, 177, 84);
    --benefits-text-hover: #e6e6e6;
    --bg-common-nav__photo: #a5b154;
    --border-form-us: rgb(0, 0, 0);
    --border-color: rgb(217, 217, 217);
    --box-shadow: rgba(0, 0, 0, 0.3);
    --text-color: rgb(17, 17, 17);
    --text-color-hover: rgb(17, 17, 17);
    --text-common-block: rgb(255, 255, 255);
    --text-common-nav: rgb(128, 128, 128);
    --text-shadow: rgb(0, 0, 0);
    --text-shadow-white: rgba(255, 255, 255, 0.3);
}

img {
    display: block;
    height: auto;
    width: 100%;
}

a {
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
}