.header__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 115px;
}

.header__logo {
    z-index: 10;
}

.logo__img {
    height: 32px;
    width: 64px;
}