.main-nav__link {
    margin-right: 15px;
}

.main-nav {
    display: flex;
}

@media (max-width: 729px) {
    .main-nav {
        background-color: var(--background-main-nav);
        height: 100%;
        left: 0;
        margin: auto;
        overflow: hidden;
        padding: 15px 24px 50px 24px;
        position: fixed;
        transition: top 0.3s ease-in 0.1s;
        top: -100%;
        width: 100%;
        z-index: 2;
    }

    .main-nav__list {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 0.92rem;
        font-weight: 700;
        height: auto;
        justify-content: flex-start;
        line-height: 3rem;
        padding-top: 100px;
        position: relative;
        width: 100%;
        z-index: 9;
    }
}

@media (min-width: 730px) {
    .main-nav__list {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }
}

body.lock {
    overflow: hidden;
}

.main-nav__burger {
    cursor: pointer;
    display: block;
    height: 20px;
    padding: 12px;
    position: relative;
    width: 30px;
    z-index: 5;
}

.main-nav__burger span,
.main-nav__burger::before,
.main-nav__burger::after {
    background-color: var(--background-btn);
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

section div nav .main-nav__burger span {
    transform: scale(1);
}

.main-nav__burger::before,
.main-nav__burger::after {
    content: " ";
}

.main-nav__burger::before {
    top: 0;
}

.main-nav__burger::after {
    bottom: 0;
}

.main-nav__burger.active span {
    transform: scale(0);
}

.main-nav__burger.active::before {
    transform: rotate(-45deg);
    top: 50%;

}

.main-nav__burger.active::after {
    bottom: 40%;
    transform: rotate(45deg);
}

@media (min-width: 730px) {
    .main-nav__burger {
        display: none;
    }
}

.main-nav.active {
    top: 0;
}

.header__wrapper.active {
    top: 0;
}