.travel {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

.travel_right {
    text-align: right;
}

.travel_left {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.travel__subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.travel__text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
}

.travel__photo {
    border-radius: 50%;
    height: 320px;
    margin-bottom: 30px;
    width: 320px;
}

.travel__img {
    border-radius: 50%;
    height: 320px;
    text-align: left;
    width: 320px;
}

.travel__title {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 60px;
}

@media (min-width: 800px) {
    .slide-photo {
        height: 591px;
        width: 360px;
    }
}